<ion-header>
  <ion-toolbar>
    <ion-title>
      Enregistrer une image de la caméra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Overlay pour le chargement -->
  <div class="loading-overlay" *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <!-- Zone de prévisualisation de la caméra -->
  <div id="cameraPreview" class="camera-container"></div>

  <!-- Superposition des icônes -->
  <div *ngIf="cameraActive && !loading" class="controls">
    <!-- Bouton "Fermer" (toutes plateformes sauf Android avec isAndroid condition) -->
    <ion-button (click)="stopCamera()" expand="block" id="close">
      <ion-icon name="close-circle" slot="icon-only"></ion-icon>
    </ion-button>

    <!-- Bouton "Capture" (toutes plateformes sauf Android avec isAndroid condition) -->
    <ion-button (click)="captureImage()" expand="block" id="capture">
      <ion-icon name="camera" slot="icon-only"></ion-icon>
    </ion-button>

    <!-- Bouton "Inverser la caméra" (toutes plateformes) -->
    <ion-button (click)="flipCamera()" expand="block" id="flip">
      <ion-icon name="camera-reverse" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <!-- Affichage de l'image capturée -->
  <ion-img [src]="image" *ngIf="image && !cameraActive"></ion-img>

  <!-- Boutons pour ouvrir la caméra et nettoyer l'image -->
  <ion-button (click)="openCamera()" expand="block" *ngIf="!cameraActive && !loading">Ouvrir la caméra</ion-button>
  <ion-button (click)="clearImage()" expand="block" *ngIf="image && !cameraActive">Effacer l'image</ion-button>

</ion-content>

